@page "/"

<BlazorStrap.BSCarousel NumberOfItems="@items.Count" Fade="true" style="width:100%; height:500px;">
    <BlazorStrap.BSCarouselIndicators NumberOfItems="@items.Count" />
    <div class="carousel-inner">
        @for (int i = 0; i < items.Count; i++)
        {
            Item item = items[i];
        <BlazorStrap.BSCarouselItem src="@item.Source" alt="@item.Alt" ActionLink="@items[i].ActionLink" ActionLinkTarget="@items[i].ActionLinkTarget" style="width:100%; height:400px;">

            <BlazorStrap.BSCarouselCaption style="color:yellowgreen" HeaderText="@item.Header" />
            <BlazorStrap.BSCarouselCaption CaptionText="@item.Caption" style="color:yellow"/>

        </BlazorStrap.BSCarouselItem>
           
        }
    </div>
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Previous" NumberOfItems="@items.Count" />
    <BlazorStrap.BSCarouselControl CarouselDirection="BlazorStrap.CarouselDirection.Next" NumberOfItems="@items.Count" />
</BlazorStrap.BSCarousel>

@code {
    int i = 0;
    IList<Item> items = new List<Item>
{
       new Item {
           Source = "/img/slide/slide-1.jpg",
           Alt ="First Slide",
           Caption = "Slide 1",
           Header = "Slide 1 Header",
           //ActionLink = "https://chanan.github.io/BlazorStrap/",
           ActionLinkTarget = "_blank"
       },
       new Item {
           Source = "/img/slide/slide-2.jpg",
           Alt ="Second Slide",
           Caption = "Slide 2",
           Header = "Slide 2 Header",
          // ActionLink = "https://templeyeshua.com/",
           ActionLinkTarget = "_blank"
       },
       new Item {
           Source = "/img/slide/slide-3.jpg",
           Alt ="Third Slide",
           Caption = "Slide 3",
           Header = "Slide 3 Header",
          // ActionLink = "https://templeyeshua.com/",
           ActionLinkTarget = "_blank"
       }
      
   };
    class Item
    {
        public string Source { get; set; }
        public string Alt { get; set; }
        public string Caption { get; set; }
        public string Header { get; set; }
        public string ActionLink { get; set; }
        public string ActionLinkTarget { get; set; }
    }
}