@page "/test2" 
<!-- ======= Rating Section ======= -->
<div class="rating-main">
    <Accordion>
        <Collapse Visible="@collapseVisible">
            <Button Clicked="@(()=>collapseVisible = !collapseVisible)" style="padding:0px;">
                <CollapseHeader> Rate this post </CollapseHeader>
            </Button>
            <CollapseBody>
                <!--Start-->
                <!--*****************************************************************************************************************************-->
                <Collapse Visible="@collapse1Visible">
                    <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;">How would you rate this? 1</CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">NOT interested</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">5</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">6</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">7</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">8</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">9</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">10</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineRadio2">VERY interested</label>
                        </div>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->
                <Collapse Visible="@collapse2Visible" style="padding:0px;">
                    <Button Clicked="@(()=>collapse2Visible = !collapse2Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;">How would you rate this? 2 </CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <p>
                            <input type="radio" id="verybad" name="rating" value="very bad">
                            <label for="verybad">Very Bad</label>
                            <input type="radio" id="bad" name="rating" value="bad">
                            <label for="bad">Bad</label>
                            <input type="radio" id="moderate" name="rating" value="moderate">
                            <label for="moderate">Moderate</label>
                            <input type="radio" id="good" name="rating" value="good">
                            <label for="good">Good</label>
                            <input type="radio" id="verygood" name="rating" value="verygood">
                            <label for="verygood">Very Good</label>
                        </p>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->

                <Collapse Visible="@collapse3Visible">
                    <Button Clicked="@(()=>collapse3Visible = !collapse3Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;"> How would you rate this? 3</CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <p>
                            <input type="radio" id="verybad" name="rating" value="very bad">
                            <label for="verybad">Very Bad</label>
                            <input type="radio" id="bad" name="rating" value="bad">
                            <label for="bad">Bad</label>
                            <input type="radio" id="moderate" name="rating" value="moderate">
                            <label for="moderate">Moderate</label>
                            <input type="radio" id="good" name="rating" value="good">
                            <label for="good">Good</label>
                            <input type="radio" id="verygood" name="rating" value="verygood">
                            <label for="verygood">Very Good</label>
                        </p>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->
                <Collapse Visible="@collapse4Visible">
                    <Button Clicked="@(()=>collapse4Visible = !collapse4Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;"> How would you rate this? 4</CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <p>
                            <input type="radio" id="verybad" name="rating" value="very bad">
                            <label for="verybad">Very Bad</label>
                            <input type="radio" id="bad" name="rating" value="bad">
                            <label for="bad">Bad</label>
                            <input type="radio" id="moderate" name="rating" value="moderate">
                            <label for="moderate">Moderate</label>
                            <input type="radio" id="good" name="rating" value="good">
                            <label for="good">Good</label>
                            <input type="radio" id="verygood" name="rating" value="verygood">
                            <label for="verygood">Very Good</label>
                        </p>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->
                <Collapse Visible="@collapse5Visible">
                    <Button Clicked="@(()=>collapse5Visible = !collapse5Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;">How would you rate this? 5</CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <p>
                            <input type="radio" id="verybad" name="rating" value="very bad">
                            <label for="verybad">Very Bad</label>
                            <input type="radio" id="bad" name="rating" value="bad">
                            <label for="bad">Bad</label>
                            <input type="radio" id="moderate" name="rating" value="moderate">
                            <label for="moderate">Moderate</label>
                            <input type="radio" id="good" name="rating" value="good">
                            <label for="good">Good</label>
                            <input type="radio" id="verygood" name="rating" value="verygood">
                            <label for="verygood">Very Good</label>
                        </p>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->
                <Collapse Visible="@collapse6Visible">
                    <Button Clicked="@(()=>collapse6Visible = !collapse6Visible)" style="padding:0px;">
                        <CollapseHeader Style="height:40px; text-align:center;">How would you rate this? 6</CollapseHeader>
                    </Button>
                    <CollapseBody Style="height:40px; margin-bottom:20px;">
                        <p>
                            <input type="radio" id="verybad" name="rating" value="very bad">
                            <label for="verybad">Very Bad</label>
                            <input type="radio" id="bad" name="rating" value="bad">
                            <label for="bad">Bad</label>
                            <input type="radio" id="moderate" name="rating" value="moderate">
                            <label for="moderate">Moderate</label>
                            <input type="radio" id="good" name="rating" value="good">
                            <label for="good">Good</label>
                            <input type="radio" id="verygood" name="rating" value="verygood">
                            <label for="verygood">Very Good</label>
                        </p>
                    </CollapseBody>
                </Collapse>
                <!--*****************************************************************************************************************************-->

            </CollapseBody><!--End-->
        </Collapse>

    </Accordion>
</div>
<!-- End of Rating Section -->
@code{


    //For Rating
    bool collapseVisible = false;
    bool collapse1Visible = false;
    bool collapse2Visible = false;
    bool collapse3Visible = false;
    bool collapse4Visible = false;
    bool collapse5Visible = false;
    bool collapse6Visible = false;

}